<ion-list class="task-item__container"
  [ngClass]="{'task-item__status-completed': task.completed}">
  <ion-item lines="none">

    <ion-label (click)="editTask.emit()">
      <h2>{{ task.name }}</h2>
      <p>{{ task.created_at | date:'dd/MM/yyyy' }}</p>
    </ion-label>

    <ion-checkbox (click)="updateStatusTask()"
      slot="start"
      [checked]="task.completed"></ion-checkbox>

    <ion-button (click)="deleteTask()"
      slot="end"
      fill="clear"
      class="icon--delete">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>

  </ion-item>
</ion-list>